@charset 'UTF-8';

/* ----------------------
    ２、解説のテキスト
   ---------------------- */
/* 文字間の設定 */
.explanation li{
    margin-top: 50px;
}
/* ※の文字の設定 */
.explanation span{
    color: var(--accent-yellow);
}
/* コードの説明の設定 */
.code-explanation{
    background-color: var(--main-color);
    outline: solid 3px #fff;
    outline-offset: -7px;
    padding: 10px;
    margin-top: 10px;
}


/* ------------------------
    ３、さらに簡単にコードを書く方法
    ----------------------- */
/* テキストの行間の設定 */
.application-text p{
    margin-top: 50px;
}
/* 「文字全体の・・・」の上の余白の設定 */
.application2{
    margin-top: 100px;
}
